<div class="card bg-light"  *ngIf="mantenimiento">
  <div class="card-header"> {{titulo}}: {{mantenimiento.descripcion}}</div>
  <div class="card-body">
    <h4 class="card-title" >
      <a [routerLink]="['/operarios']" class="btn btn-light btn-xs">&laquo; Volver</a>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Empresa a la que se ha solicitado el servicio</li>
      <li class="list-group-item">{{mantenimiento.empresa}}</li>
    </ul>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos del mantenimiento</li>
      <li class="list-group-item">Id: {{mantenimiento.id}}</li>
      <li class="list-group-item">Descripcion: {{mantenimiento.descripcion}}</li>
      <li class="list-group-item">Descripcion: {{mantenimiento.empresa}}</li>
      <li class="list-group-item">Fecha de mantenimiento: {{mantenimiento.fechaAsignada |  date:"EEEE dd, MMMM yyyy"}}</li>
      <li class="list-group-item">Tipo: {{mantenimiento.tipo}}</li>
      <li class="list-group-item">Direccion: {{mantenimiento.direccion}}</li>
      <li class="list-group-item">Hora inicio: {{mantenimiento.horaInicio}}</li>
      <li class="list-group-item">Duracion aproximada: {{mantenimiento.horaAproximadaDuracion}}</li>
      <li class="list-group-item">Prioridad: {{mantenimiento.prioridad}}</li>

    </ul>

    <table class="table table-striped table-hover table-bordered my-3">
      <thead>
        <tr>
          <th> Insumo </th>
          <th> Precio por unidad </th>
          <th> Cantidad </th>
          <th> Total </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mantenimiento.items">
          <td>{{item.insumo.nombre}}</td>
          <td>$ {{item.insumo.precio}}</td>
          <td>{{item.cantidad}}</td>
          <td>$ {{item.importe}}</td>
        </tr>
      </tbody>

    </table>
    <h5 class="float-right">
      <span>Total</span>:  <span class="badge badge-secondary"> $ {{mantenimiento.total}}</span></h5>
      <div class="card border-info mb-4" style="max-width:700px">
        <div class="card card-header">
          Descripcion

        </div>
        <div class="card card-body">
          {{mantenimiento.descripcion}}

        </div>


      </div>
  </div>

</div>
