<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let insumo of insumos;let i=index">
    <img [src]="insumo.img" width="20" height="200" alt="" class="card-img-top" [alt]="insumo.nombre">
    <div class="card-body">
      <h5 class="card-title"> {{insumo.nombre}} </h5>
      <p class="card-text">{{insumo.descripcion | slice:0:100}}...</p>
      <p class="card-text"><small class="text-muted">{{insumo.precio}}</small></p>
      <button (click)="verInsumo(i)" type="button" class="btn btn-outline-primary btn block"> Ver mas...</button>
       
    </div>
  </div>


</div>
