<h1 class="animated fadeInd fast">Insumos</h1>
<hr>
<div class="row">

  <div class="col-md-12 text-center">

    <div class="btn-group" role="group" aria-label="Basic example">

      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['insumosCamion']">Camiones</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['insumosMaquina']">Maquinas</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['insumosSucursal']">Puntos de venta</button>
       <br/>
    </div>


  </div>

</div>
<br/>
<router-outlet></router-outlet>
